body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}


@keyframes rotate-easeOutBounce {
  0% {
    transform: rotate(0deg);
  }

  12% {
    transform: rotate(19.8deg);
  }

  24% {
    transform: rotate(79.2deg);
  }

  36% {
    transform: rotate(176.4deg);
  }

  54% {
    transform: rotate(135deg);
  }

  74% {
    transform: rotate(176.4deg);
  }

  82% {
    transform: rotate(169.2deg);
  }

  92% {
    transform: rotate(178.2deg);
  }

  96% {
    transform: rotate(176.4deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-easeOutBounce2 {
  0% {
    transform: rotate(180deg);
  }

  12% {
    transform: rotate(199.8deg);
  }

  24% {
    transform: rotate(259.2deg);
  }

  36% {
    transform: rotate(356.4deg);
  }

  54% {
    transform: rotate(315deg);
  }

  74% {
    transform: rotate(356.4deg);
  }

  82% {
    transform: rotate(349.2deg);
  }

  92% {
    transform: rotate(358.2deg);
  }

  96% {
    transform: rotate(356.4deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main {
  width: 450px;
  max-width: 90%;
  position: fixed;
  margin: 0 auto;
  top: 300px;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f1f0ea;
}

#outer_border {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 20px solid #aea45d;
  padding: 10px;
}

#inner_border {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 3px solid #aea45d;
}

.name {
  top: 50px;
  opacity: 0;
  transition: all .5s ease-in;
}

#page2 {
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 2s ease-in-out;
  /* 5.75是tan 80deg的值 這樣才能配合其他的rotate10 */
  clip-path: polygon(0 0, 100% 0, 100% calc(0 - 100vw / 5.75), 0% 100%);
  overflow: hidden;
}

#page2.active {
  height: calc(100vh + 100vw / 5.75);
  clip-path: polygon(0 0, 100% 0, 100% calc(100vh), 0% 100%);
}

#page2_name {
  position: absolute;
  top: 50px;
  width: 450px;
  max-width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.aaa {
  animation-name: rotate-easeOutBounce;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.bbb {
  animation-name: rotate-easeOutBounce2;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}


#obj {
  opacity: 0;
  transition: all 1s ease-in;
  transform: translateY(-16px);
}

#obj.active {
  opacity: 1;
  transform: translateY(0px);
}

#char {
  opacity: 0;
  transition: all 1s ease-in;
}

#char.active {
  opacity: 1;
}

.name.active {
  opacity: 1;
}

.color_band {
  width: 120%;
  position: relative;
  left: -10%;
  transform: rotate(-10deg);
  height: 60px;
  margin: 10px 0;
  top: calc(100vw/-12); /* 配合上面#page2的裁切計算的 */
}

#qqq {
  max-width: 40%;
  width: 200px;
  position: relative;
  left: 10%;
  /* transform: rotate(-10deg); */
  /* height: 60px; */
  /* margin: 10px 0; */
  top: calc(100vw/-12 - 140px);
}

#page2_wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -300px;
  transition: all 2s ease-in-out;
}

#page2_wrapper.active {
  top: 0;
}

#page1 {
  width: 100%;
  height: 100%;
  position: fixed;
}